on:
  issues:
    types: [opened, edited]

concurrency:
  group: ${{ github.workflow }}-${{github.event.issue.number}}
  cancel-in-progress: true
  
jobs:
  debug:
    if: ${{ contains(github.event.issue.labels.*.name, 'form1') }}
    runs-on: ubuntu-slim
    name: Foo ${{ github.event.issue.sender.login }}
    steps:
      - env:
          FOO: ${{ toJson(github.event) }}
        run: echo "${FOO}"
      - name: Parsing the issue
        id: parse
        uses: zentered/issue-forms-body-parser@v2.0.0
      - run: echo ${{ toJSON(steps.parse.outputs.data) }}
      - name: Fail on unchecked terms
        env:
          TERMS_ACCEPTED: ${{ join(fromJSON(steps.parse.outputs.data).agree-with-terms.list.*.checked, ',') }}
        if: ${{ env.TERMS_ACCEPTED !='true,true' }}
        run: |
          echo "::error ::Not all terms and conditions accepted"
          exit 1
