on:
  issues:
    types: [opened, edited]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{github.event.id}}
  cancel-in-progress: true
  
jobs:
  debug:
    if: ${{ contains(github.event.issue.labels.*.name, 'form1') }}
    runs-on: ubuntu-slim
    name: Foo
    steps:
      - env:
          FOO: ${{ toJson(github.event) }}
        run: echo "${FOO}"
      - name: Parsing the issue
        id: parse
        uses: zentered/issue-forms-body-parser@v2.0.0
      - run: echo ${{ toJSON(steps.parse.outputs.data) }}
